@import "jquery.ui.css";
@import "../ui.jqgrid.css";
@import "../Site.css";

.jqg-toolbar .lbl-display
{
}

.ui-jqgrid-htable th div .desc
{
    border-color: #87B6D9;
}

.lbl-display
{
    color: #006699;
}

td.readonly
{
    background: #EAF4FD !important;
    color: #336699 !important;
}

tr.level0
{
    background: #A6D2FF !important;
}

tr.level1
{
    background: #D5EAFF !important;
}
