<?xml version="1.0"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>

    <add name="MemberShip"
         connectionString="Data Source=.;Initial Catalog=SampleDB;Persist Security Info=True;User ID=sa;Password=12345678"
         providerName="System.Data.SqlClient" />    
     
    <add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />
    <add name="SampleDBEntities" connectionString="metadata=res://*/SampleDB.csdl|res://*/SampleDB.ssdl|res://*/SampleDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=SampleDB;user id=sa;password=12345678;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <appSettings>
    <add key="systemname" value="Hi-P Cost Structure System"/>
    <add key="systemversion" value="v1.0"/>
    <add key="copyright" value="Copyright© 2013 Hi-P International Ltd. All rights reserved.&lt;br /&gt;Singapore Patent P-No. 150393" />
  </appSettings>


  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="2880"  />
    </authentication>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="MemberShip"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <siteMap defaultProvider="webSiteMapProvider">
      <providers>
        <add name="webSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="Web.sitemap" securityTrimmingEnabled="true" />
      </providers>
    </siteMap>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="true">
      <providers>
        <clear />
        <add connectionStringName="MemberShip" applicationName="/" name="AspNetSqlRoleProvider"
          type="System.Web.Security.SqlRoleProvider" />
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider"
          type="System.Web.Security.WindowsTokenRoleProvider" />
      </providers>
    </roleManager>
    <!--主题更改-->
    <pages theme="redmond">
      <!--使页面可访问到Common库中的Resource.resx-->
      <namespaces>
        <add namespace="Common" />
      </namespaces>
    </pages>
  </system.web>
  
  <location path="Pages">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="Pages/WebForm3.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin" />
      </authorization>
    </system.web>
  </location>

  <location path="Default.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="About.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location> 

  <!--<location path="Pages/Maintenance">
    <system.web>
      <authorization>
        <allow users="aaa" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>-->


  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
